<!DOCTYPE html>
<html lang="{{ config.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    {{ css('home.css') }}
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="{{ config.keywords }}">
    <title>{{ config.title }}</title>
    {% if config.theme_config.favicon %}
      {{ favicon_tag(config.theme_config.favicon) }}
    {% endif %}
  </head>
  <body>
    {% include '_partial/header.j2' %}
    <main>
      <ul class="posts">
        {% for post in page.posts.toArray() %}
          <li class="post-item">
            <time>{{ date(post.date) }}</time>
            <a class="post-title" href="{{ url_for(post.path) }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="pagination">
        {% if page.current > 1 %}
          <a href="{{ url_for(page.prev_link) }}">Prev</a>
        {% endif %}
        {% if page.next_link %}
          <a href="{{ url_for(page.next_link) }}">Next</a>
        {% endif %}
      </div>
    </main>
    {% include '_partial/footer.j2' %}
  </body>
</html>
