<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
      href="https://cdn.jsdelivr.net/npm/@fontsource/fira-sans@4.5.0/files/fira-sans-latin-400-normal.woff2"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/fira-sans@4.5.0/400.css"
      integrity="sha256-offyo8cagLP2lW77Utya1CY2r+haeVuGogAIDxrPpwg="
      crossorigin
    >
    {{ css('home.css') }}
    <meta name="description" content="{{ config.description }}">
    <meta name="keywords" content="{{ config.keywords }}">
    <title>{{ config.title }}</title>
    {% if config.theme_config.favicon %}
      {{ favicon_tag(config.theme_config.favicon) }}
    {% endif %}
  </head>
  <body>
    {% include '_partial/header.j2' %}
    <main>
      <ul class="posts">
        {% for post in page.posts.toArray() %}
          <li class="post-item">
            <a class="post-title" href="{{ url_for(post.path) }}">{{ post.title }}</a>
            <time>{{ date(post.date) }}</time>
          </li>
        {% endfor %}
      </ul>
      <div class="pagination">
        {% if page.current > 1 %}
          <a href="{{ url_for(page.prev_link) }}">Prev</a>
        {% endif %}
        {% if page.next_link %}
          <a href="{{ url_for(page.next_link) }}">Next</a>
        {% endif %}
      </div>
    </main>
    {% include '_partial/footer.j2' %}
  </body>
</html>
