<!DOCTYPE html>
<html lang="{{ page.lang or config.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://cdn.jsdelivr.net">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital@0;1&display=swap"
      rel="stylesheet"
    >
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-one-light.min.css"
      integrity="sha256-pheZFj4tSEB+DSck/HlBxfAuLhETo5nEPFlQ1XmOAbg="
      crossorigin
    >
    {{ css('post.css') }}
    <meta name="description" content="{{ page.description or config.description }}">
    <meta
      name="keywords"
      content="{{ config.keywords }}{% if page.tags %}{% for tag in page.tags.toArray() %}, {{ tag.name }}{% endfor %}{% endif %}"
    >
    <title>{{ page.title }} | {{ config.title }}</title>
    {% if config.theme_config.favicon %}
      {{ favicon_tag(config.theme_config.favicon) }}
    {% endif %}
  </head>
  <body>
    {% include '_partial/header.j2' %}
    <main>
      <h1 class="post-title">{{ page.title }}</h1>
      {% if page.date and page.tags %}
        <div class="post-info">
          <span>{{ date(page.date) }}</span>
          <ul class="tags">
            {% for tag in page.tags.toArray() %}
              <li class="tag">
                <a href="{{ url_for(tag.path) }}">#{{ tag.name }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      <article>
        {{ page.content }}
      </article>
      {% if config.theme_config.disqus and config.theme_config.disqus.enable %}
        {% include '_partial/disqus.j2' %}
      {% endif %}
    </main>
    {% include '_partial/footer.j2' %}
  </body>
</html>
