<footer class="site-footer">
  <div>
    {{ config.theme_config.copyright_date }} © {{ config.author }}
  </div>
  {% if config.theme_config.copyright_text %}
    <div>{{ config.theme_config.copyright_text }}</div>
  {% endif %}
</footer>
