@import './shared.less';

main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  main {
    padding: 0 calc(50% - 400px);
  }
}

.posts {
  list-style: none;
  padding: 0;
}

.post-item {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.post-title {
  font-size: 20px;
  color: var(--primary-color);
}

time {
  color: #333;
  letter-spacing: 1px;
  font-size: 14px;
  padding-right: 16px;
}

.pagination {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
  & a {
    color: var(--primary-color);
    letter-spacing: 1px;
  }
}
