@import '~prismjs/themes/prism.css'
@import './variables.styl'

body
  font-family fontFamily
  font-size: 18px;
  line-height: 32px;
  position relative
  max-width 1000px
  margin 0 auto
  padding 0
  color textColor

h1,
h2,
h3,
h4,
h5,
h6
  font-weight 400

a {
  text-decoration: none;
  color: #592ce5;
  overflow-wrap: break-word;
  word-break: break-all;
}

img,
video,
canvas,
iframe {
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 0 8px;
  border-left: 4px solid #ccc;
  color: #aaa;
}
